<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="8192" executionTimeout="30" requireRootedSaveAsPath="false" />
  </system.web>
  <connectionStrings>
    <clear />
    <add name="SqlServer"
     providerName="System.Data.SqlClient"
     connectionString="Server=localhost;Database=IDGAF;Integrated Security=true" />
  </connectionStrings>
</configuration>